<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/styles/studentTestView.css">
    <title>Document</title>
</head>

<body>
    <div class="grid-container">
        <header class="header" style="display: flex; justify-content: space-between;">
            <a class="navbar-brand" href="/student/dashboard" style="color: #52b9e8;"><img
                    src="/styles/images/tachometer.svg" width="40" height="40"> TEST</a>
            <div class="timer" style="display: flex; justify-content: space-between; color: #52b9e8;">
                <p>Time Left : <p id="demo"><%= test.duration %> </p>
                </p>
            </div>
        </header>
        <aside class="sidenav" style="display: flex; flex-direction: column; justify-content:space-between;">
            <div class="container">
                <p>Questions overview:</p>
                <div class="row" id="queslist">
                    <% test.questions.forEach( function (qns, index) { %>
                    <div class="col-xs-3">
                        <button class="dot" id="<%= qns._id %>"><%= qns.position %></button>
                    </div>
                    <% }); %>
                </div>
            </div>
            <div class="color-code">
                <div class="container">
                    <p>Color Code:</p>
                    <div class="row">
                        <div class="col-xs-6" style="margin: 5px;">
                            <button class="btn btn-default" style="background-color: #29B999">
                                Attempted
                            </button>
                        </div>
                        <div class="col-xs-6" style="margin: 5px;">
                            <button class="btn btn-default" style="background-color: #ED6060">
                                Not Attempted
                            </button>
                        </div>
                        <div class="col-xs-6" style="margin: 5px;">
                            <button class="btn btn-default" style="background-color: #565FB8">
                                To be reviewed
                            </button>
                        </div>
                        <div class="col-xs-6" style="margin: 5px;">
                            <button class="btn btn-default" style="background-color: #c4bdbd">
                                Not viewed yet
                            </button>
                        </div>
                        <div class="col-xs-6" style="margin: 5px;">
                            <button class="btn btn-default" style="background-color: #f0df4d">
                                Attempted and marked for review
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="finish-buttons" style="display: flex; flex-direction: column; justify-content:space-between;">
                <button type="button" class="btn btn-primary" data-toggle="modal"
                    data-target="#exampleModal">Instructions</button>
                <button type="button" name="<%= test._id %>" class="btn btn-primary" id="test-finish"
                    data-toggle="modal" data-target="#exampleModalCenter">Finish</button>
            </div>
        </aside>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header" style="background: rgb(222, 222, 222)">
                        <h5 class="modal-title" id="exampleModalLabel">Instructions</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>The total duration of this test is <strong><%= test.duration %> hrs</strong>.</p>
                        <p>There will be only <strong><%= test.totalq - 1 %> questions</strong> in this test.</p>
                        <p>For <strong> Single Correct type </strong> there will <strong> +3 marks</strong> allocated
                            for each correct
                            answer and <strong> -1 marks</strong> allocated for each wrong answer.
                        </p>
                        <p>For <strong> Multiple Correct type </strong> there will <strong> +4 marks</strong> allocated
                            for each correct
                            answer. There will <strong> -2 marks</strong> allocated for each wrong answer.
                            </xp>
                            <p>For <strong> Numerical type </strong> there will <strong> +3 marks</strong> allocated for
                                each correct
                                answer.</p>
                            <p>There will <strong> 0 marks</strong> allocated for each wrong answer.
                            </p>
                            <p>There will be <strong>No</strong> marks deducted for unattempted answers</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
                    </div>
                </div>
            </div>
        </div>

        <main class="main1" id="main">
            <div class="title_bar" style="display: flex; justify-content: space-between;">
                <strong><span id="question-no">Question No:--</span></strong>
                <strong><span id="question-type">None</span></strong>
            </div>
            <hr style="border-color: #52b9e8; width: 1600px;">
            <form action="" name="" id="myForm" style="margin: 70px 30px;">
                <p name="question" id="question-text" cols="90" rows="5">New question</p>
                <div id="answers">
                </div>
            </form>
            <hr style="border-color: grey; width: 1600px;">
        </main>
        <footer class="footer" style="display: flex; justify-content: center;">
            <input type="submit" class="btn btn-primary" form="myForm" value="Save" />
            <input type="button" class="btn btn-primary exec" id="review-later" form="myForm" value="Review Later" />
            <input type="button" class="btn btn-primary exec" id="clear-selec" form="myForm" value="Clear Selection" />
        </footer>
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="dot2" style="background: #29B999" id="attempted-qn">0</div>
                        <p>Attempted Questions</p>
                        <div class="dot2" style="background: #ED6060" id="unattempted-qn">0</div>
                        <p>Unattempted Questions</p>
                        <div class="dot2" style="background: rgb(86, 95, 184)" id="marked-qn">0</div>
                        <p>Review Later</p>
                        <div class="dot2" style="background: rgb(196, 189, 189)" id="notattempted-qn">0</div>
                        <p>Not viewed</p>
                        <p>You cannot edit your response once you click submit</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" style="background: #51B7E8; color: white;"
                            data-dismiss="modal">Resume</button>
                        <button type="button" class="btn btn-primary" id="submit-test"
                            style="background: #4EBA6F">Submit</button>
                        <a href="/test/<%= test._id %>/view/results" id="finish-button"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"
        integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"
        integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9"
        crossorigin="anonymous"></script> -->
    <script src="/scripts/studentTestView.js"></script>
</body>

</html>